* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    border-bottom: white 300px;
    position: fixed;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
        padding: 10px;
    }

    a.active {
        font-weight: bold;
    }

    .main {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 150px;

        i {
            display: none;
        }

        img {
            height: 70px;
        }

        svg {
            font-size: 40px;
        }
    }

    .mainLink {
        margin-left: auto;
        margin-right: 50px;
        transition: all 0.7s ease;
    }

    .rightSide {

        button {
            background-color: transparent;
            border: none;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }

    }

}

@media only screen and (max-width: 650px) {

    .navbar {
        .main {
            padding-left: 0px !important;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            a {
                font-size: 13px;
                transition: all 0.7s ease;

            }

            i {
                display: flex;
                color: white;
                font-size: 30px;
                cursor: pointer;

            }

            .menuClose {
                display: flex;
                color: white;
                font-size: 30px;
                cursor: pointer;
                position: absolute;
                top: 50px;
                right: 50px;

            }
        }

        .mainC {
            background-color: brown;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.7s ease;
            z-index: 10;

            a {
                font-size: 35px !important;
                padding: 20px;
                transition: all 0.7s ease;
            }

        }

        .mainLink {
            display: none;
            transition: all 0.7s ease;
        }
    }

}